<strong style="font-size: 40px;"><%= "Room #{@room.name}"%></strong>
<ul class="list-group messages" style="padding: 32px 0;">
	<%= render @messages %>
</ul>

<div style="padding-bottom: 50px;">
	<%= form_for ([@room, @room.messages.build]) do |f| %>
		<div class="form-inline">
			<%= f.text_field :content, class: 'form-control'%>
			<%= f.submit "Send", class: 'btn btn-success' %>
		</div>
	<% end %>
</div>

<script>
	setInterval(updateMessagesViaJSON, 1000);
</script>