<!DOCTYPE html>
<html>
  <head>
    <title>Lecture 4 - Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/">Home</a>
      <ul class="nav navbar-nav float-xs-right">
        <% if current_user %>
          <li class="nav-item active">
            <%= link_to "Log out, #{current_user}", logout_path, class: ' btn-primary btn' %>
          </li>
        <% else %>
          <%= form_tag login_path do %>
            <div class="form-inline">
              <%= text_field_tag :username, params[:username] , class: 'form-control'%>
              <%= submit_tag "Log In", class: 'btn btn-primary'%>
            </div>
            <% end %>
        <% end %>
      </ul>
    </nav>

    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
